<div class="principal">
  <div class="container">
    <mat-toolbar color="primary" class="toolbar">
      <span>Chat SignalR</span>
      <span *ngIf="userName" class="user">
        <mat-icon> person </mat-icon>
        <h5>{{ userName }}</h5>
      </span>
    </mat-toolbar>

    <div class="messages">
      <ng-template ngFor let-message [ngForOf]="messages" let-i="index">
        <div *ngIf="message.userName === userName" class="message-line me">
          <div class="message-limit me">
            <div class="message me">
              <div class="user-name">{{ message.userName }}</div>
              <div class="text">{{ message.text }}</div>
            </div>
          </div>
        </div>
        <div *ngIf="message.userName !== userName" class="message-line other">
          <div class="message-limit other">
            <div class="message other">
              <div class="user-name">{{ message.userName }}</div>
              <div class="text">{{ message.text }}</div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <div class="footer">
      <form class="form" [ngClass]="textControl.invalid && this.textControl.dirty ? 'error' : ''">
        <mat-form-field class="input">
          <mat-label>Escreva sua mensagem</mat-label>
          <input
            type="text"
            matInput
            placeholder="Olá"
            [formControl]="textControl"
            cdkFocusInitial
          />
          <mat-error *ngIf="textControl.invalid && this.textControl.dirty">
            escreva a mensagem antes de enviar
          </mat-error>
        </mat-form-field>
        <button
          (click)="sendMessage()"
          [disabled]="textControl.invalid"
          color="primary"
          mat-mini-fab
          aria-label="Enviar"
        >
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </div>
  </div>
</div>
