:root {
  --primary50: #fce4ec;
  --primary50ct: #eceff1;
  --primary100: #f8bbd0;
  --primary100ct: #cfd8dc;
  --primary200: #f48fb1;
  --primary200ct: #b0bec5;
  --primary300: #f06292;
  --primary300ct: #90a4ae;
  --primary400: #ec407a;
  --primary400ct: #78909c;
  --primary500: #e91e63;
  --primary500ct: #607d8b;
  --primary600: #d81b60;
  --primary600ct: #546e7a;
  --primary700: #c2185b;
  --primary700ct: #455a64;
  --primary800: #ad1457;
  --primary800ct: #37474f;
  --primary900: #880e4f;
  --primary900ct: #263238;
  --primaryA100: #ff80ab;
  --primaryA200: #ff4081;
  --primaryA400: #f50057;
  --primaryA700: #c51162;
}
