.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

mat-label {
  color: var(--primary200);
  font-size: 14px;
}

.text {
  text-transform: capitalize;
}
